@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900 !important;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 700;
}

section {
  padding-top: 6rem;
  padding-bottom: 2rem;
  z-index: 2;
  position: relative;
}
img {
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 224, 254, 0.7), rgba(17, 7, 254, 0.7));
  z-index: -1;
}

/* NavBar */
.navbar {
  box-shadow: 0 0.12rem 0.2rem rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  background: -webkit-linear-gradient(#00e0fe, #1107fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Hero */
.hero {
  background-image: url(../img/hero_img.jpg);
}

.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Boton */
.btn {
  padding: 1.4rem 2rem;
  transition: all 0.3s ease;
}
.btn-main {
  background: linear-gradient(to right, #00e0fe, #1107fe);
  border-radius: 2rem;
  border: none;
  font-weight: 600;
  color: #fff;
}
.btn:hover {
  color: #fff;
  transform: translateY(-0.5rem);
}

/* Servicios */
.section-intro {
  margin-bottom: 4rem;
}

.section-intro .divider {
  height: 0.4rem;
  width: 8rem;
  background: linear-gradient(to right, #00e0fe, #1107fe);
  margin: 1.6rem auto;
}

.servicios .servicios-img {
  position: relative;
}
.servicios .servicios-img .icon {
  width: 6rem;
  height: 6rem;
  background: linear-gradient(to right, #00e0fe, #1107fe);
  color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
}

.servicios .servicios-img .icon i {
  font-size: 2.4rem;
}

/* Nosotros */

.nosotros-icon i {
  background: -webkit-linear-gradient(#00e0fe, #1107fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}

/* Portafolio */

.portfolio-item {
  overflow: hidden;
  position: relative;
}
.portfolio-item img,
.portfolio-item .portfolio-overlay {
  transition: all 0.4s ease;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 36, 90, 0.9);
  display: flex;
  align-items: flex-end;
  padding: 30px;
  opacity: 0;
}

.portfolio-overlay h3,
.portfolio-overlay h6 {
  color: #fff;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

/* Team */
.team-member {
  background-color: #11245a;
}

.team-member.even {
  background-color: #162e6e;
}

.team-member .hline {
  width: 70px;
  height: 2px;
  margin: 16px auto;
  background-color: rgba(255, 255, 255, 0.445);
}

.team-member .team-member-img img,
.team-member .team-member-img .social-icons {
  transition: all 0.4s ease;
}

.team-member .team-member-img {
  position: relative;
  overflow: hidden;
}

.team-member .team-member-img .social-icons {
  width: 100%;
  height: 60px;
  background-color: #1f49d1;
  position: absolute;
  bottom: -60px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-member .team-member-img .social-icons a {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 24px;
  color: #fff;
  border-radius: 100px;
  margin-left: 4px;
  margin-right: 4px;
}

.team-member .team-member-img .social-icons a:hover {
  background-color: #fff;
  color: #1107fe;
}

.team-member:hover .team-member-img .social-icons {
  bottom: 0;
}

.team-member:hover img {
  transform: translateY(-60px);
}

/* Formulario Contacto */

form .form-control {
  border-radius: 0;
  background: transparent;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.5);
}

form .form-control:focus {
  color: #fff;
  background: transparent;
  border-color: #fff;
}

form input.form-control {
  height: 4.5rem;
}

form .form-control::placeholder {
  color: #fff;
}

/* Footer */

/* footer {
  background: linear-gradient(to right, #00e0fe, #1107fe);
} */
